  /* CSS for screens larger than 991px */
  @media (min-width: 992px) {
    .navbar li {
      margin: 0 30px; /* Keep the same margin for desktop */
    }
  
    .slide .slide-text {
      font-size: 60px; /* Keep the same font size for desktop */
    }
  
  .navbar {
      display: flex; /* Show the navbar links */
      align-items: center;
  }
  }
  
  /* CSS for screens between 768px and 991px */
  @media (max-width: 991px) { 
      .menu-btn {
    display: block;
  }
  .navbar {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
  }
  .navbar.active {
    display: block;
  }
  .slide-text {
    display: block;
    position: absolute;
    top: calc(100% + 20px);
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 18px;
    text-align: right;
  }
  .menu-btn {
    display: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    position: relative;
  }
  
  .menu-btn::before,
  .menu-btn::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
  }
  
  .menu-btn::before {
    top: 0;
  }
  
  .menu-btn::after {
    bottom: 0;
  }
  
  .menu-btn.active::before {
    transform: translateY(10px) rotate(45deg);
  }
  
  .menu-btn.active::after {
    transform: translateY(-10px) rotate(-45deg);
  }
  }
  
  
  /* CSS for screens between 450px and 768px */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column; /* Stack navbar links vertically */
      align-items: center; /* Center align navbar links */
    }
  
    .navbar li {
      margin: 10px 0; /* Adjust margin for stacked navbar links */
    }
  
    .slide .slide-text {
      font-size: 30px; /* Further reduce font size for smaller screens */
    }
  }
  
  /* CSS for screens below 450px */
  @media (max-width: 450px) {
    .navbar {
      padding: 10px; /* Add padding to navbar */
    }
  
    .navbar li {
      margin: 5px 0; /* Adjust margin for stacked navbar links */
    }
  
    .slide .slide-text {
      font-size: 20px; /* Further reduce font size for smaller screens */
    }
  }